[submodule "firmware/dependencies/STM32CubeL0"]
	path = firmware/dependencies/STM32CubeL0
	url = https://github.com/STMicroelectronics/STM32CubeL0
[submodule "firmware/test/Unity"]
	path = firmware/test/Unity
	url = https://github.com/ThrowTheSwitch/Unity
